#---------------------------------------------------------------------#
#    Alchemy - A Wurm Unlimited Mod, made to give Alchemy purpose!    #
# --------------------------------------------------------------------#
# Suck it priests! JK, i tried to balance as much as I can. To make   #
# a potion you need high QL ingredients and high Alchemy skill.       #
# A 100 QL potion would be the equivalent of a 100 strength cast.     #
# So TLDR: Alchemy: a way to make a skill worthwile and useful to get #
# spells and weapon enchants early without priests but only temporary #
# effects. Meanwhile even the freshest priest can do a 30 strength    #
# cast on spells. For 30 minutes or simple but long lasting enchants. #
# Both need work and attention, so see it as being a craftsmen priest #
# or finally being able to Roleplay as a herb witch!                  #
# I wish you lots of fun, if you have any problems contact me on:     #
# Github: https://github.com/Arathok/Wurm-Unlimited-Alchemy/issues    #
# Discord: Arathok#1880                                               #
#                                                                     #
# - Arathok                                                           #
#                                                                     #
#---------------------------------------------------------------------#


###############GENERAL##################


# only use this if you want to suffer
dbTest=false

# Which Skill do you want to base the Skillgain on? / Welcher Skill soll verwendet werden?
# Natural Substances = 10042, Alchemy =1021 Alchemy will raise 50% slower. Alchemy wird 50% langsamer steigen.
skillUsed=10042

# Troubleshooting? Use verboseLogging! will spam your logs with all kinds of things that are happening
# Fehlersuche? Benutze verboseLogging! Wird das log mit allem zuspammen was rund um Alchemy passiert.
verboseLogging=true
#--------------------

# Do you want the Potions to cause addiction/withdrawal if taken close to each other? / Sollen die Tränke bei häufigem Konsum Sucht/Entzugserscheinungen aufweisen?
# default -> true
becomAddicted=true
#--------------------

# How long should the withdrawal effects last or be polled? If you set this shorter than your potion cool downs you effectively disable addiction.
# Wie lange sollen die Entzugserscheinungen bestehen bzw. wie oft sollen sie aktualisiert werden? Wenn der Wert unter dem der PotionCooldowns gesetzt wird, wird effektiv die Sucht deaktiviert
#default -> 900 sec 
addictionTimer =35
#--------------------

#Should the power of potions or oils be influnenced by rarity? 
#Values bigger than 1.0 mean the item becomes stronger. Below 1.0 the item gets weaker, which would be funny to punish people for creating rare potions

# Soll die Stärke der Tränke und Öle durch die rarity beinflusst werden?
#Werte über 1.0 Würden die Potions stärker machen, darunter würde man den Spieler bestrafen ein rares Item zu craften. Lustig.

#default 1.05,1.1,1.25

rarityFactorRare=1.05
rarityFactorSupreme=1.1
rarityFactorFantastic=1.25

#--------------------

#######POTIONS##########

# How strong should potions be compared to Vanilla Spells ? / Wie stark sollen die Tränke/Öle im Vergleich zu Vanilla - Zaubern sein?
# 1.0 = 100% = Vanilla ----- 0.5 = 50% of Vanilla 
# please don't use Values above 1.0 Libila Knows what weird shit might happen! Bitte nur Werte unter 1.0 benutzen. Nur Libila weiß, was für weirde Scheiße dann
# passiert!
# default -> 1.0
alchemyPower=1.0
#------------------

# How long do you want potion effects to last ? / Wie lange sollen Trankeffekte andauern? 
# default -> 300 sec
potionDuration=300
#------------------

# How long should players have to wait between consuming potions? (trying to consume 2 in a row will result a toxicity warning and trying once more in death)
# Wie lange sollen spieler nach Tränken warten müssen (Der Versuch zwei nacheinander zu trinken resultiert erst in einer Verwarnung, dann in Tod durch Vergiftung) 
# default -> 300 sec
cooldownPotion=1
#------------------

# How long should players have to wait after consuming health potions? (trying to consume 2 in a row will result a toxicity warning and trying once more in death)
# Wie lange sollen spieler nach Heiltränken warten müssen (Der Versuch zwei nacheinander zu trinken resultiert erst in einer Verwarnung, dann in Tod (Vergiftung))
# default -> 300 sec
cooldownHeal=300
#------------------

# How long should players have to wait after consuming ultimate potions? (trying to consume 2 in a row will result a toxicity warning and trying once more in death)
# Wie lange sollen spieler nach Ultimativtränken warten müssen (Der Versuch zwei nacheinander zu trinken resultiert erst in einer Verwarnung, dann in Tod (Vergiftung))
# default -> 3600 sec
cooldownUltimate=3600
#------------------

#Should Potions be usable during fighting?
#Sollten Tränke auch während des Kampfes getrunken werden dürfen?
#default -> false
potionsDuringFighting=true
#------------------

#Do you want to purify water by boiling or by using charcoal? / Soll gereinigtes Wasser durch Kochen oder durch zusatz von Holzkohle hergestellt werden?
# true = boiling / kochen. false = charcoal/holzkohle
# default -> true
purifiedWaterCooking=true
#-----------------------

##########OILS#############

# Do you wish to use weapon oils (temporary enchants)? / Möchtest du Waffenöle (temporäre Verzauberungen)?
# yes/ja = true        no/nein =false       
# default = true
useOils=true
#-----------------

# How long do you want oil effects to last ? / Wie lange sollen Öle auf Waffen andauern? 
# default -> 300 sec
oilDuration=60
#------------------

#Do weapon oils Stack with enchantments or should only unenchanted weapons be able to carry oil?
#Sollen Waffenöle mit existierenden enchantments stacken, oder sollen nur unverzauberte Waffen verzauberbar sein?
#default -> true
enchantmentsStack = true
#----------------------

# How long do you want oil effects to last on already enchanted weapons? / Wie lange sollen Öle auf bereits verzauberten Waffen andauern? 
# default 0.33 = 33%
oilDurationOnEnchanted=0.33
#------------------


#Should Oils be usable during fighting?
#Sollten Öle auch während des Kampfes getrunken werden dürfen?
#default -> false
oilsDuringFighting=true
#------------------