/target/
/.settings/
.classpath
.project

# Uncomment after committing to remove these
#/.idea/
#/bin/
#/META-INF/
#**/*.xml
#**/*.iml
#**/*.eml
#**/*.userlibraries

!formatter.xml
!pom.xml
!**/resources/**/*.xml
*.xml
.idea/.name
modeling/cauldron/textures/feet_Roughness.png
modeling/cauldron/textures/feet_Normal.png
modeling/cauldron/textures/feet_Metallic.png
modeling/cauldron/textures/feet_Displacement.png
modeling/cauldron/textures/feet_BaseColor.png
modeling/cauldron/textures/Cauldron_Roughness.png
modeling/cauldron/textures/Cauldron_Normal.png
modeling/cauldron/textures/Cauldron_Metallic.png
modeling/cauldron/textures/Cauldron_Displacement.png
modeling/cauldron/textures/Cauldron_BaseColor.png
modeling/cauldron/textures/bolts_Roughness.png
modeling/cauldron/textures/bolts_Normal.png
modeling/cauldron/textures/bolts_Metallic.png
modeling/cauldron/textures/bolts_Displacement.png
modeling/cauldron/textures/bolts_BaseColor.png
modeling/cauldron/source/Cauldron.zip
modeling/cauldron/Cauldron.blend
Alchemy.iml
*.iml
*.class
*.png
*.dds
*.wom
*.config
*.properties
*.txt
*.ogg
*.bak
*.jpg
*.ogg
