/target/
/.settings/
.classpath
.project

# Uncomment after committing to remove these
#/.idea/
#/bin/
#/META-INF/
#**/*.xml
#**/*.iml
#**/*.eml
#**/*.userlibraries

!formatter.xml
!pom.xml
!**/resources/**/*.xml
*.xml
